.wrapper {
  display: flex;
  justify-content: center;
}

#output {
  height: 80vh;
  overflow: auto;
  white-space: pre-line;
  width: 100%;
  border: 1px solid black;
}
#output :nth-child(even) {
  background-color: #dddddd;
}
p {
  width: 100%;
  white-space: pre-line;
  word-wrap: break-word;
}
#chatForm {
  width: 100%;
}

#errorUsername {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: orange;
}

.buttonSelect{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startOverlay{
  display: flex;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: slategray;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#loginOverlay .container, #createOverlay .container, #guestOverlay .container{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.error{
  width: 100%;
  text-align: center;
  color:orange;
}