.wrapper {
  display: flex;
  justify-content: flex-start;
}

#chatBoxDiv{
  margin-left: 0;
}

#output {
  height: 80vh;
  overflow: auto;
  white-space: pre-line;
  width: 100%;
  border: 1px solid black;
}

.chat-tabs{
  width: 100%;
}

.chat-tab{
  background-color: pink;
  border: 1px solid black;
}

.plyr{
  height: 60vh;
}

p{
  padding-left: 5px;
  margin: 0px;
}

.right-panel{
  width: 100%;
  height: 84vh;
  justify-content: space-between;
  flex-direction: column;
}

.clientlist{
  overflow: auto;
  padding: 5px;
  border: 1px solid black;
  height: 20vh;
}

#output p:nth-child(even) {
  background-color: #dddddd;
}

.clientlist p:nth-child(even) {
  background-color: #dddddd;
}

p {
  width: 100%;
  white-space: pre-line;
  word-wrap: break-word;
}
#chatForm {
  width: 100%;
}

.input-group{
  height: 4vh;
}

#errorUsername {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: orange;
}

.buttonSelect{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startOverlay{
  display: flex;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: slategray;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#loginOverlay .container, #createOverlay .container, #guestOverlay .container{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.error{
  width: 100%;
  text-align: center;
  color:orange;
}

.plyr__control--overlaid{
  opacity: 0;
}
