.wrapper {
  display: flex;
  justify-content: center;
}

#output {
  height: 90vh;
  overflow: auto;
  white-space: pre-line;
  width: 100%;
  border: 1px solid black;
}
#output :nth-child(even) {
  background-color: #dddddd;
}
p {
  width: 100%;
  white-space: pre-line;
  word-wrap: break-word;
}
#chatBoxDiv {
  width: 50vw;
}
#chatForm {
  width: 100%;
}
