<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Username:</span>
    </div>
    <input type="text"
           class="form-control"
           id="usernameCreate"
    />
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Password:</span>
    </div>
    <input
            type="password"
            class="form-control"
            id="passwordCreate"
    />
</div>