<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Username:</span>
    </div>
    <input type="text"
           class="form-control"
           id="usernameGuest"
    />
</div>